@avatar-size: 245px;

.avatar {
	display: inline-block;
	overflow: hidden;
	width: @avatar-size;
	height: @avatar-size;
	border-radius: 50%;
	background: url('http://www.gravatar.com/avatar/052f072b073a409550a938d2ddaf8dc6?size=250.png') no-repeat;
	background-size: @avatar-size @avatar-size;
	box-shadow: inset 0 0 10px 0 rgba(255, 255, 255, 1);
}