$picture-size: 245px;

.picture {
	display: inline-block;
	overflow: hidden;
	width: $picture-size;
	height: $picture-size;
	border-radius: 50%;
	background: url('https://www.gravatar.com/avatar/052f072b073a409550a938d2ddaf8dc6?size=250.png') no-repeat;
	background-size: $picture-size $picture-size;
}
